.buttonGroup {
  /* border: solid black 1px; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin-top: 20px;
  padding: 4px;
  text-align: center;
  text-transform: uppercase;
}

.btn {
  border: solid blue 1px;
  border-radius: 25%;
  padding: 4px;
}

.onButton {
  background-color: rgba(0, 255, 0, 0.6)
}

.offButton {
  background-color: rgba(255, 0, 0, 0.6)
}
